<h1>Stations</h1>
<!-- <div class="search">
  <%= form_tag stations_path, :method => "get"  do %>
    <%= label_tag 'Ph'%>
    <%= check_box_tag "PH", params[:ph], value:1  %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div> -->
<div class="search">
  <%= form_tag "/stations", remote:true, :method=>'get', id:'search' do %>
    <%= label_tag 'Ph'%>
    <%= check_box_tag "PH", params[:ph], value:1  %>
    <%= select_tag :state, options_for_select(us_states), id:'dropdown' %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <% n = 0 %>
      <th>#</th>
      <th>Date</th>
      <th>Site Name</th>
      <th>Temperature</th>
      <!-- <th>Ph</th> -->
    </tr>
  </thead>
    <% cache(json_fingerprint(@stations) + "list") do %>
  <tbody id="entries">
    <% @stations.each do |station| %>
    <% n = n + 1 %>
    <tr>
      <th> <%= n %></th>
      <th> <%= Time.new(station.values[0][:value][0][:dateTime]).strftime("%m/%d/%Y") %></th>
      <th> <%= station.sourceInfo[:siteName] %></th>
      <th> <%= station.values[0][:value][0][:value]%> </th>
    </tr>
    <% end %>

  </tbody>
    <% end %>
</table>
