<h1 class="station_header">Stations: Most Recent Data</h1>

<div class="search-box">
  <div class="search">
    <%= form_tag "/stations", remote:true, :method=>'get', id:'search' do %>
      <%= label_tag 'Select State:'%>
      <%= select_tag :state, options_for_select(us_states), id:'state-dropdown' %><br>
      <%= label_tag 'Select Site Type:'%>
      <%= select_tag :state, options_for_select(siteType), id:'site-type-dropdown' %><br>
      <%= label_tag 'Select Parameter:'%>
      <%= select_tag :state, options_for_select(water_parameters), id:'params-dropdown' %><br>
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>
</div>

<div class="col-center">
  <table class="table table-striped">
    <thead>
      <tr id=station-table-headers>
        <% n = 0 %>
        <th>#</th>
        <th>Date</th>
        <th>Site Name</th>
        <th id="dynamic-table-head">Choose a parameter</th>
      </tr>
    </thead>

    <tbody id="entries">
    </tbody>

  </table>
</div>
